html {
    font-family: "Consolas";
}

.menu {	
	padding: 10px;	
}

.form {
    background-color: #66ccff;
    width: 300px;
    outline: none;
    border: 3px solid green;
}


.title {
    font-weight: bold;
    font-size: 20px;
}

input:focus {
    background-color: lightblue;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

ul li {
    display: inline;
    margin: 1px;
    padding: 10px 20px;
    background-color: #4CAF50;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:focus {
    color: black;
}

.content {
    background-image: url("../picture/s1200.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;    
}
